// Normalize Styles
@import 'node_modules/normalize.css/normalize'; // Import Modules
// Styling on warning for users on IE7 or below

.browsehappy {
  text-align: center;
  margin    : 0;
  background: #fff8e2;
  color     : #000;
  padding   : 0.5em 0;
}

#header-logo {
  width : 64px;
  height: 64px;
}
